grid {
    width: 100%;
    display: flex;
    margin-left: 20px;
}
gridCards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
    column-gap: 20px;
}

card {
    display: flex;
    width: 150px;
    height: 75px;
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
    
}

.bleu {
    border-color: rgb(23, 23, 207);
}

.noir {
    border-color: rgb(0, 0, 0);
}

.gris {
    border-color: rgb(128, 128, 128);

}

card:hover {
    transform: scale(1.05);
}

card p {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: black;
}