@import url(card.css);
@import url(partie.css);
@import url(choix.css);

h1 {
   
    text-align: center;

}

h3 {
    text-align: center;
    color: #e64c1d;
}

body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(#4691ff,#003366);
    height: 100vh; 
    margin: 0; 
    color: white;
    overflow: hidden;
}

.menu {
    text-align: center;
    margin-top: 20px;
   
}

button {
    background-color: #ff5733; 
    color: white; 
    border: none; 
    padding: 15px 30px; 
    font-size: 16px; 
    font-weight: bold; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
}

button:hover {
    background-color: #ff704d; 
    transform: scale(1.05); 
}

button:active {
    background-color: #e64c1d; 
    transform: scale(0.95); 
}

button:disabled {
    background-color: #999; 
    cursor: not-allowed; 
}

input {
    width: 300px; 
    padding: 15px; 
    font-size: 16px; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    outline: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s; 
    margin-bottom: 20px; 
}

input:focus {
    border-color: #4691ff; 
}

::placeholder {
    color: #999; 
}
.player {
    margin-bottom: 20px;
}

.container-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-player p{
    color: tomato;
}

